@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

@layer base {
  body {
    @apply bg-bg-light dark:bg-bg-dark text-text-light dark:text-text-dark text-xl font-sora;
  }
}
@layer components {
  .button {
    @apply relative inline-block mx-2 rounded-full py-2 px-2 sm:px-4 shadow-xl hover:scale-105;
    background-color: var(--button-bg-color, var(--bg-color-light));
    color: var(--button-text-color, var(--text-color-light));
    border: 2px solid var(--bg-color-dark);
  }
  .borderstyle {
    @apply border border-bg-dark dark:border-bg-light;
  }
  .perspective {
    perspective: 1000px;
  }
  .card {
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  .card:hover {
    transform: rotateY(180deg);
  }
  .card-face {
    position: absolute;
    backface-visibility: hidden;
  }
  .card-face-front {
    z-index: 2;
  }
  .card-face-back {
    transform: rotateY(180deg);
    overflow: hidden;
  }
}

html,
body,
#__next {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
}
